.saved-news-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 104px;
  box-sizing: border-box;
}

/* @media screen and (max-width: 768px) {
  .saved-news-page {
    padding: 0 81px;
  }
} */
