.newscard-list {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 0 20px; */
}

.newscard-list__container {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); */
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin: 32px 0;
  background-color: #f5f6f7;
}

.newscard-list__show-more {
  display: block;
  margin: 0 auto 32px;
  padding: 12px 24px;
  background-color: #fff;
  color: black;
  border-radius: 80px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  width: 288px;
  height: 64px;
}

.newscard-list__show-more:hover {
  opacity: 0.8;
}

.newscard-list__no-results {
}

@media screen and (max-width: 320px) {
  .newscard-list__container {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
  }
}
