/*Desktop view */
.newscard-list {
  max-width: 1280px;
  margin: 0 auto;
}

.newscard-list__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin: 32px 0;
  background-color: #f5f6f7;
}

.newscard-list__show-more {
  display: block;
  margin: 0 auto 32px;
  padding: 12px 24px;
  background-color: #fff;
  color: black;
  border-radius: 80px;
  transition: opacity 0.3s ease;
  width: 288px;
  height: 64px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.newscard-list__show-more:hover {
  opacity: 0.8;
  color: #e8e8e8;
  cursor: pointer;
}

.newscard-list__no-results {
  height: 374px;
  border: 1px;
  background-color: #d1d2d6;
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  align-items: center;
}

/*Tablet View*/
@media screen and (max-width: 768px) {
  .newscard-list {
    max-width: 768px;
  }

  .newscard-list__show-more {
    width: 240px;
    height: 56px;
  }
}

@media screen and (max-width: 320px) {
  .newscard-list__container {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
  }
}

/*Mobile view */

@media screen and (max-width: 320px) {
  .newscard-list {
    max-width: 320px;
    flex-direction: column;
  }

  .newscard-list__container {
    grid-template-columns: 1fr;
  }
}
