/*Desktop screen */
.search-form {
  /* width: 608px;
  height: 64px;
  radius: 100px;
  border: 1px; */
  /* display: flex; */
  /* align-items: center; */
  /* gap: 16px; */
  margin-bottom: 88px;
  margin-top: 80px;
  flex-direction: row;
}

.search-form__row {
  display: flex;
  align-items: center;
  /* gap: 16px; */
  position: relative;
}

.search-input {
  height: 64px;
  border-radius: 100px;
  /* margin-top: 88px; */
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  width: 608px;
  padding: 0 20px;
  border: none;
}

.search-form__error {
  color: red;
  font-size: 16px;
  margin-top: 8px;
}

.search__button {
  width: 168px;
  height: 64px;
  border-radius: 100px;
  background-color: #2f71e5;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  transition: background-color 0.3s ease;
  border: none;
  top: 0;
  right: 0;
  position: absolute;
}

.search__button:hover {
  background-color: #347eff;
}

@media screen and (max-width: 768px) {
  .search-input {
    width: 452px;
  }
}

@media screen and (max-width: 320px) {
  .search-form {
    display: flex;
    flex-direction: column;
  }

  .search-input {
    width: 288px;
  }

  .search__button {
    width: auto;
    top: 80px;
    right: 0;
    left: 0;
  }

  .search-form__row {
    flex-direction: column;
  }
}
