.about {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
}

.about__content {
  display: flex;
  gap: 120px;
  align-items: start;
}

.about__title {
  width: 600px;
  height: 46px;
  margin-left: 38%;
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
}

.about__text {
  width: 600px;
  height: 120px;
  top: 201px;
  left: 624px;
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.about__image {
  width: 464px;
  height: 464px;
  object-fit: cover;
}

.about__image-container {
  flex: 0 0 auto;
  width: 30%;
}

@media screen and (max-width: 768px) {
}
