/* Desktop */
.main {
  text-align: center;
  width: 100%;
}

.main__title {
  font-family: "Roboto Slab", Georgia, serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  letter-spacing: 0px;
  color: white;
  max-width: 608px;
  margin: 0;
  margin-top: 80px;
}

.main__info {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  color: white;
  width: 608px;
  margin-top: 32px;
}

.main__children {
  display: grid;
  background-color: #f5f6f7;
}

/* Tablet */
@media screen and (max-width: 768px) {
  .main__title {
    max-width: 385px;
    font-size: 36px;
    line-height: 40px;
  }

  .main__info {
    max-width: 452px;
    height: 48px;
    margin-left: 73px;
  }
}

/* Mobile */
@media screen and (max-width: 320px) {
  .main__title {
    max-width: 288px;
  }

  .main__info {
    width: 288px;
    margin: 0;
    margin-top: 16px;
  }
}
