@media screen and (max-width: 320px) {
  .mobile {
    background-color: #1a1b22;
    height: 230px;
    width: 100%;
    position: fixed;
    top: 0;
  }

  .mobile__link {
  }

  .mobile__button {
  }
}
