.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal__opened {
  visibility: visible;
}

.modal__content_type_form {
  background-color: white;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 498px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
}

.modal__title {
  width: 95px;
  height: 20px;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-left: 28px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  border: none;
  cursor: pointer;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__submit {
  width: 124px;
  height: 36px;
  margin-top: 32px;
  margin-left: 28px;
  cursor: pointer;
}
