.registration-success {
  width: 430px;
  height: 182px;
  color: #fff;
  border-radius: 16px;
}

.registration-success__content {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
}

/* .registration-success__button {
} */
